{% assign marquee_text = "WORLD IS YOURS SS20" %}
{% case template%}
{% when 'index' %}
{% assign marquee_text = "THE WORLD IS YOURS" %}
{% when 'collection' %}
{% assign marquee_text = "SHOP NOW  SHOP NOW" %}
{% when 'product' %}
{% assign marquee_text = product.title %}
{% when 'customers/login' %}
{% assign marquee_text = "LOGIN  LOGIN  LOGIN" %}
{% when 'customers/register' %}
{% assign marquee_text = "REGISTER  REGISTER  REGISTER" %}
{% when 'page.contact' %}
{% assign marquee_text = "CONTACT US  CONTACT US" %}
{% endcase %}

<div class="marquee__section">
    <div class="marquee">
        <span class="marquee__item">{{ marquee_text }}</span>
        <span class="marquee__item">{{ marquee_text }}</span>
        <span class="marquee__item">{{ marquee_text }}</span>
    </div>
</div>

