<div id="shopping-cart" class="shopping-cart">
    <script>
        let isLoadWithCart = localStorage.getItem('load_with_cart');
        let offScreenCart = document.getElementById('shopping-cart');

        if(isLoadWithCart === "true") {
            offScreenCart.classList['add']('is-open');
        }
        else {
            offScreenCart.classList['add']('is-closed');
        }

        offScreenCart.style.transition = "transition: top 1000ms ease";
        localStorage.setItem('load_with_cart', 'false');
    </script>

    {% comment %}{# Cart #}{% endcomment %}
    <div class="shopping-cart__content">
        {% comment %}{# No Items in Cart #}{% endcomment %}
        {% if cart.item_count == 0 %}
            {% comment %}{# Close Button #}{% endcomment %}
            <div class="shopping-cart__header-container">
                <div class="shopping-cart__title">Checkout Bag</div>
                <div></div>
                <button class="shopping-cart__close" aria-labeled="Close shopping cart">
                    {% render "icon-close" %}

                    {% comment %}{# todo: localize #}{% endcomment %}
                    <span class="visually-hidden">Close</span>
                </button>
            </div>

            <div id="shopping-cart__empty-text" class="shopping-cart__empty-text">The shopping bag is empty, try refreshing the page.</div>


            {% comment %}{# Items are in Cart #}{% endcomment %}
        {% else %}
            {% comment %}{# Close Button #}{% endcomment %}
            <div class="shopping-cart__header-container">
                <div class="shopping-cart__title">Checkout Bag</div>
                <div></div>
                <button class="shopping-cart__close" aria-labeled="Close shopping cart">
                    {% render "icon-close" %}

                    {% comment %}{# todo: localize #}{% endcomment %}
                    <span class="visually-hidden">Close</span>
                </button>
            </div>

            <form class="shopping-cart__content-container" action="{{ routes.cart_url }}" method="post" novalidate class="cart">

                {% comment %}{# Items in Cart #}{% endcomment %}
                <div class="shopping-cart__items">
                    <div id="cart-item__container">
                        {% render 'cart-item' %}
                    </div>
                </div>

                <div class="shopping-cart__footer-container">
                    {% comment %}{# Cart Subtotal #}{% endcomment %}
                    <div class="shopping-cart__subtotal">
						<span class="shopping-cart__subtotal-text">
							{% comment %}{# todo: Localize #}{% endcomment %}
							<span>Subtotal</span><span id="cart__total_price">{{ cart.total_price | money }}</span>
						</span>
                    </div>

                    {% comment %}{# Cart Footer #}{% endcomment %}
                    <div class="shopping-cart__footer">
                        {% comment %}{# todo: Localize #}{% endcomment %}
                        <p>Shipping & taxes calculated at checkout</p>

                        {% comment %}{# todo: Localize #}{% endcomment %}
                        <p><strong>INTERNATIONAL ORDERS MAY BE SUBJECT TO CUSTOMS DUTIES OR IMPORT TAXES</strong></p>
                    </div>

                    {% comment %}{# Submit Button #}{% endcomment %}
                    <div class="shopping-cart__button-containers">
                        <!-- <a class="shopping-cart__empty-cart" href="/cart/clear">Empty Cart</a> -->

                        {% comment %}{# todo: Localize #}{% endcomment %}
                        <button class="shopping-cart__checkout button--colored" name="checkout" action="/checkout/">
                            Checkout
                        </button>
                    </div>

                    <div id="remove-all__btn">Remove All</div>
                </div>
            </form>

        {% endif %}
    </div>
</div>

{% schema %}
    {
    "name": "Cart",
    "settings": []
    }
{% endschema %}
