<div id="disclaimer__container">
    <div class="disclaimer--background"></div>

    <div class="disclaimer--text__container">
        <h1 class="disclaimer--csnv">CSNV</h1>

        <div class="disclaimer--body__container">
            <p class="disclaimer--title">Warning</p>
            <p class="disclaimer--first">**Access to www.csnvstudio.com may result in criminal association.<br><br></p>
            <p class="disclaimer--enter">Enter at your own risk.<br><br></p>
            <p class="disclaimer--cookies">This site uses cookies to ensure you get the best experience.
                <a href="">More info</a></p>
        </div>

        <button class="disclaimer--accept">accept</button>
    </div>
</div>

{% schema %}
    {
    "name": "GDPR Disclaimer",
    "settings": []
    }
{% endschema %}
