{% render 'site-nav' %}

<div class="header__container">
    <div class="header__section">
        <div class="logo__container">
            <div class="logo__intrinsic">
                <a class="logo__link" href="/" title="CSNV Home">
                    {% render 'icon-logo' %}

                    <span class="header__logo visually-hidden"></span>
                </a>
            </div>
        </div>

        <button class="menu__button">
            {% render 'icon-hamburger' %}

            {% render 'icon-close' %}
        </button>
    </div>
</div>

{% schema %}
    {
    "name": "Header",
    "settings": []
    }
{% endschema %}
