<div class="header__container">

    {% render 'marquee' %}

    <div class="header__section">
        <button class="menu__button"><span>Menu</span></button>

        <div class="logo__container">
            <div class="logo__intrinsic">
                <a class="logo__link" href="/" title="CSNV Home">
                    <img class="logo__image" src="{{ 'logo.gif' | asset_url }}" alt="CSNV Logo"/>
                </a>

                <small class="logo__rights--text">
                    All Rights Reserved <br>&copy; 2020 CSNV studio
                </small>
            </div>
        </div>

        <div class="cart-nav__container">
            <nav class="nav__container" role="navigation">
                <div class="visually-hidden">{% include 'search-drawer' %}</div>

                {% include 'site-nav'%}
            </nav>

            <!-- hidden -->
            <div class="cart--trigger__container visually-hidden">
                {% if cart.item_count > 0 %}
                    <div class="cart--count__container">
                        <span id="cart--count" class="cart--count" aria-label="Amount of items in cart">[{{ cart.item_count }}]</span>
                    </div>

                {% else %}
                    <div class="cart--count__container">
                        <span id="cart--count" class="cart--count" aria-label="Amount of items in cart"></span>
                    </div>
                {% endif %}

                <button class="cart--icon__container" type="button">
                    <span class="visually-hidden">Shopping Cart</span>
                    {% render 'icon-bag' %}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="nav__mask"></div>



{% schema %}
    {
    "name": "Header",
    "settings": []
    }
{% endschema %}
